extends layout

block content
  header
    h1= title
    p Welcome to #{title}
    a(href='/new') new message
  main 
    ul
      each msg in messages 
        li
          p.date #{msg.created_formatted}
          p.user #{msg.user}
          p.msg #{msg.message}
    
